body {
    background-image: url("radar2.jpg");
    background-size: cover;
 }

.container{
    display:inline-flex;
    flex-direction: row;
}

table {
        margin-left: 10%;
        margin-top: 0%;
        background-image: url("radar5.gif");
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        }

.table2 {
    margin-left: 10%;
    pointer-events: none;
  }




table,tr, td {
    border: 1px solid;
    border-collapse: collapse;
    width: 30px;
    height: 30px;
    table-layout: fixed;
    color:white;
    }

td {
    text-align: center;
    }

.marker_row {
   background-color: black;
   color: yellow;
}

.marker_col {
    background-color: black;
    color: yellow;
}

.ship {
    background-color: yellow;
    border: 2px solid;
}

.playersTitle {
    color: blue;
    background-color: skyblue;
    border: 5px outset lightslategray;
    border-radius: 20px;
    width:800px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 60px;
    font-size:25px;
}

.water {
    background-color: blue;
    font-size: 20px;
}

.touched {
    background-color: red;
    font-size: 20px;
}

.shiplist {
    display:flex;
    align-items:center;
    margin-top:1px;
    padding-top:0px;
}
#carrier {
    background-color: yellow;
    width: 150px;   
    height: 30px;
    color:yellow;
    margin-top:20px;
    margin-left: 5px;
    border: 2px solid black;
}

#battleship {
    background-color: yellow;
    width: 120px;   
    height: 30px;
    color:yellow;
    margin-top:20px;
    margin-left: 5px;
    border: 2px solid black;
    }

#destroyer {
    background-color: yellow;
    width: 90px;
    height: 30px;
    color:yellow;
    margin-top:20px;
    margin-left: 5px;
    border: 2px solid black;
}

#submarine {
    background-color: yellow;
    width: 90px;
    height: 30px;
    color:yellow;
    margin-top:20px;
    margin-left: 5px;
    border: 2px solid black;
}

#patrol_boat {
    background-color: yellow;
    width: 60px;
    height: 30px;
    color:yellow;
    margin-top:20px;
    margin-left: 5px;
    border: 2px solid black;
}

.shipname {
    margin-left: 20px;
    text-decoration: none;
    color: yellow;
    border: 4px solid grey;
    //border-radius: 100px;
    padding:5px;
    overflow: hidden;
    background-color: black;
    width: 100px;
    text-align: center;
}

#message {
    background-color: skyblue;
    border: 5px outset lightslategray;
    border-radius: 20px;
    width:800px;
    height: 30px;
    margin-top:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-left:70px;
    font-size:25px;
    color:red;
    margin-bottom: 0px;
}

#message2 {
    color:red;
}


#direction {
    display:none;
    margin-left: 20px;
    text-decoration: none;
    color: yellow;
    border: 4px solid grey;
    padding:5px;
    overflow: hidden;
    background-color: black;
    width: 230px;
    text-align: center;
}

#vertical {
    margin-left: 30px;
}

#confirm , #fire {
    margin-left: 150px;
  //  margin-top: 350px;
    align-self:flex-end;
}

#extrabuttons {
    display: flex;
}

.button {
     text-decoration: none;
     color: yellow;
     border: 4px solid grey;
     border-radius: 100px;
     padding:20px;
     overflow: hidden;
     background-color: black;
     width: 120px;
     }

 .button:focus {
        outline:0;
  }