
table {
    border-collapse: collapse;
    margin-left: 20%;
    }

th,tr, td {
    border: 1px solid;
    width: 50px;
    height: 30px;
    table-layout: fixed;
    }

td {
    text-align: center;
    }

th {
    background-color: aquamarine;
}

.nameColumn {
    width: 200px;
 }